<template name="landing">
<div class="slider" style="font-family: 'Permanent Marker', cursive;">
    <ul class="slides">
      <li>
        <img src="polly.png"> <!-- random image -->
        <div class="caption center-align">
          <h1 style="color: #1a237e;"></h1>
          <h5 style="color: #1a237e;"></h5>
        </div>
      </li>
      <li>
        <img src="polly2.png"> <!-- random image -->
        <div class="caption left-align">
          <h2 style="color: #1a237e"></h2>
          <h4 style="color: #1a237e"></h4>
        </div>
      </li>
      <li>
        <img src="polly3.png"> <!-- random image -->
        <div class="caption left-align">
          <h2 style="color:#1a237e;"></h2>
          <h5 style="color:#1a237e;"></h5>
        </div>
      </li>
      <li>
        <img src="polly4.png">
        <div class="caption right-align">
          <h3 style="color:#0d47a1;"></h3>
          <h4 style="color:#0d47a1;"></h4>
        </div>
      </li>
      <li>
        <img src="polly5.png"> <!-- random image -->
        <div class="caption center-align">
          <h1></h1>
          <h4></h4>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <div class="container-fluid">
    <div id="promo" class="row center-align">
    <br>
      </div>
    </div>
</template>